<h1 class="titleFont">All Languages</h1>
<!-- <div *ngFor="let language of languages" (click)="goToDetailPage(language)" class="panel panel-default">
  <div class="panel-body">
    <h3><em>{{language.language}}</em> by {{language.author}}</h3>
  </div>
</div> -->

<div *ngFor="let language of languages | async"  class="panel panel-default">

  <div class="panel-body">
    <h3 (click)="goToDetailPage(language)"><em>{{language.language}}</em> by {{language.author}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{language.description}}
      <hr>
      <app-edit-language [selectedLanguage]="language"></app-edit-language>
    </div>
  </div>
</div>
