
<header class= "">
    <img id="jumbotronLogo" src="src/images/helloWorld2.png" alt="Logo">
</header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Hello World</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="all-languages">All Programming Languages</a></li>
      <li><a routerLink="about">About Hello World</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>
  <router-outlet></router-outlet>
</h1>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
