<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add A New Programming Language</h3>
  </div>
  <div class="well">
    <div class="selectText">
      <div>
        <label>Language:</label>
        <br>
        <input #newLanguage>
      </div><br>

      <div>
        <label>Language Author:</label>
        <br>
        <input #newAuthor>
      </div><br>

      <div>
        <label>Year Created:</label>
        <br>
        <input #newYear>
      </div><br>

      <div>
        <label>Type: Functional or Object Oriented</label>
        <br>
        <input #newType>
      </div><br>

      <div>
        <label>Code Sample:</label>
        <br>
        <textarea #newCode></textarea>
      </div><br>

      <div>
        <label>Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div><br>

      <div>
        <label>Provide A Link:</label>
        <br>
        <input #newLink>
      </div><br>
      <button (click)="submitForm(newLanguage.value, newAuthor.value, newYear.value, newType.value, newCode.value, newDescription.value, newLink.value)">Add</button>
    </div>
  </div>
</div>
<div>
  <div class="well">
    <div class="selectText">
      <app-all-languages></app-all-languages>
    </div>
  </div>
</div>
