html{
  height: 100%;
  margin: 0;
}

body{
  font-size: 20px;
  font-family: "HelveticaNeue-Light",
  "Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif;
  height: 100%;
  padding: 0px;
  background-color: #ECECEC;
  color: #3B3738;
}

.jumbotron{
  background-size: cover;
  background-repeat: no-repeat;
}

#jumbotronLogo{
  background-color: #939393;
  margin: auto;
  width: 100%;
  padding: 0px;
}

.animalImageSmall{
  width: auto;
  height: 120px;
}

.titleFont {
	font-family: Consolas, monaco, monospace;
	/*font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;*/
}

h1{
  color: #1241F2;
}

h3{
  color: #212b31;
}

p b{
  color: #36454F;
}

.selectText{
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
}

.period{
  color: #7E8F7C;
}

#newTalkButton{
  font-size: 14px;
  color: #3B3738;
  height: 100%;
  padding: 0px;
  display: inline-block;
  margin-left: 0px;
}

#editTalkButton{
  font-size: 14px;
  color: #3B3738;
  height: 100%;
  padding: 0px;
  display: inline-block;
  margin-left: 0px;
}

#saveCommentButton{
  font-size: 14px;
  color: #3B3738;
  height: 100%;
  padding: 0px;
  display: inline-block;
  margin-left: 0px;
}

button{
  background-color: #CC2217;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
}

.well{
  color: #3B3738;
  background-color: #FFFAE6;
  border-color: #7F7D73;
}

#aboutWell{
  background-color: #FFFFFF;
}

#editWellP{
  color: #FDF3E7;
}

#feedList{
  list-style-type: none;
}

.navbar{
  margin: 0px;
  border-radius: 0px;
  min-height: 30px;
}

#topNavBar{
  background-color: #36454F;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
}

#topNavBar p{
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 20px;
}

#bottomNavBar{
  background-color: #C63D0F;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
}
hr{
 display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #C63D0F;
   margin: 1em 0;
   padding: 0;
}

.videoWrapper{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#addNew{
  color: #FDF3E7;
}

.footer {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding: 15px;
}

a{
    color: #C63D0F;
    text-decoration: none;
}

/*a:hover{
    color: #7E8F7C;
}

a:active{
    color: #7E8F7C;
}

a:visited{
    color: #7E8F7C;
}*/
